# 3. Relational Table on SQLite

## SELECT statements

A SELECT statement retrieves zero or more rows from one or more database tables or views. It is the most commonly used data query language command. A basic SELECT statement syntax looks like this:

```SQL
    SELECT * (or column1, column2, …)

    FROM table_name (or view_name);
```
The SELECT statement has many optional clauses:

* **WHERE** — specifies which row(s) to be retrieved.

* **GROUP BY** — groups rows sharing a property so that an aggregate function can be applied to each group.

* **HAVING** — selects among the groups defined by the GROUP BY clause.

* **ORDER BY** — specifies an order in which to return the rows; either ascending or descending.

* **AS** — provides an alias which can be used to temporarily rename tables or columns.

Some other clauses used to filter data were considered in the SELECT statement such as:

* **LIMIT** — restricts the number of rows to be returned to the amount specified.

* **BETWEEN** — tests whether a value is in a range of values.

* **IN** — checks if a value matches any value in a list of values.

* **LIKE** — queries data based on pattern matching using wildcard characters: percent sign(%) and underscore(_).

* **DISTINCT** — returns only the unique rows from a table.

<br>

<img src="https://miro.medium.com/max/720/1*BhUiIwuLEuHKGtQLUpLqXA.png" width="800">

---

## SQL Aggregations

An aggregate function allows one to perform a calculation on set of values to return a single scalar value. We often use aggregate functions with the GROUP BY and HAVING clauses of the SELECT statement. The commonly used ones are:

* **AVG** — calculates the average of a set of values.

* **COUNT** — counts rows in a specified table or row.

* **MIN** — gets the minimum value in a set of values.

* **MAX** — gets the maximum value in a set of values.

* **SUM** — calculates the sum of values.

We also used modifier **(DISTINCT or ALL)** when using aggregate functions. **DISTINCT** modifier when used, ignores duplicate values and considers only unique values. ALL modifier which is the default if one does not specify, uses all values for calculation.

---

## SQL Joins

A JOIN clause is used to combine rows from two or more tables, based on a common column. The condition you want to be met would determine which of the join types you would use. There are four basic types of SQL joins: inner, left, right, and full.

* **INNER JOIN** — Returns records that have matching values in both tables.

* **LEFT (OUTER) JOIN** — Returns all records from the left table, and the matched records from the right table.

* **RIGHT (OUTER) JOIN** — Returns all records from the right table, and the matched records from the left table.

* **FULL (OUTER) JOIN** — Returns all records when there is a match in either the left or right table.

Other join functions are:

* **CROSS JOIN** — produces a result set which is the number of rows in the first table multiplied by the number of rows in the second table if now WHERE clause is used.

* **SELF JOIN** — joins a table to itself to create a result set that joins rows with other rows within the same table.

<br>

<img src="https://miro.medium.com/max/640/1*WyRshnsIq1gR3jEzxra0Rw.jpeg" width="800">

---

## Study Case with Sample Database

We will using `chinook sample database` from **sqlitetutorial.net**

Database Source & Reference: [https://www.sqlitetutorial.net/sqlite-sample-database/](https://www.sqlitetutorial.net/sqlite-sample-database/)

There are 11 tables in the chinook sample database.

* **`employees`** table stores employees data such as employee id, last name, first name, etc. It also has a field named **`ReportsTo`** to specify who reports to whom.
* **`customers`** table stores customers data.
* **`invoices`** & **`invoice_items`** tables: these two tables store invoice data. <br>The **`invoices`** table stores invoice header data and the **`invoice_items`** table stores the invoice line items data.
* **`artists`** table stores artists data. It is a simple table that contains only the artist id and name.
* **`albums`** table stores data about a list of tracks. Each album belongs to one artist. However, one artist may have multiple albums.
* **`media_types`** table stores media types such as MPEG audio and AAC audio files.
* **`genres`** table stores music types such as rock, jazz, metal, etc.
* **`tracks`** table stores the data of songs. Each track belongs to one album.
* **`playlists`** & **`playlist_track`** tables: playlists table store data about playlists. Each playlist contains a list of tracks. Each track may belong to multiple playlists. The relationship between the **`playlists`** table and **`tracks`** table is many-to-many. The **`playlist_track`** table is used to reflect this relationship.

<br>

<img src="https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg" width="800">

### Exercise:

1. Provide a query showing Customers (just their full names, customer ID and country) who are not in the US.
2. Provide a query only showing the Customers from Brazil.
3. Provide a query showing the Invoices of customers who are from Brazil. The resultant table should show the customer's full name, Invoice ID, Date of the invoice and billing country.
4. Provide a query showing only the Employees who are Sales Agents.
5. Provide a query showing a unique list of billing countries from the Invoice table.
6. Provide a query that shows the invoices associated with each sales agent. The resultant table should include the Sales Agent's full name.
7. Provide a query that shows the Invoice Total, Customer name, Country and Sale Agent name for all invoices and customers.
8. How many Invoices were there in 2009 and 2011? What are the respective total sales for each of those years?
9. Looking at the InvoiceLine table, provide a query that COUNTs the number of line items for Invoice ID 37.
10. Looking at the InvoiceLine table, provide a query that COUNTs the number of line items for each Invoice. HINT: [GROUP BY](http://www.sqlite.org/lang_select.html#resultset)
11. Provide a query that includes the track name with each invoice line item.
12. Provide a query that includes the purchased track name AND artist name with each invoice line item.
13. Provide a query that shows the # of invoices per country. HINT: [GROUP BY](http://www.sqlite.org/lang_select.html#resultset)
14. Provide a query that shows the total number of tracks in each playlist. The Playlist name should be included on the resultant table.
15. Provide a query that shows all the Tracks, but displays no IDs. The resultant table should include the Album name, Media type and Genre.
16. Provide a query that shows all Invoices but includes the # of invoice line items.
17. Provide a query that shows total sales made by each sales agent.
18. Which sales agent made the most in sales in 2009?
19. Which sales agent made the most in sales in 2010?
20. Which sales agent made the most in sales over all?
21. Provide a query that shows the # of customers assigned to each sales agent.
22. Provide a query that shows the total sales per country. Which country's customers spent the most?
23. Provide a query that shows the most purchased track of 2013.
24. Provide a query that shows the top 5 most purchased tracks over all.
25. Provide a query that shows the top 3 best selling artists.
26. Provide a query that shows the most purchased Media Type.
27. Provide a query that shows the number tracks purchased in all invoices that contain more than one genre.